<% if mobile? %>
<div class="board_mobile" style="background: url('/img/title_img_1.jpg') no-repeat center center/cover scroll;"><span style="color: white; background:rgba(0,0,0,0.6); padding: 10px; border-radius: 10px;"><%= link_to '게시판 카테고리 설정', bulletins_path, class: "board_title" %></span></div>
<% else %>
<div class="board" style="background: url('/img/title_img_1.jpg') no-repeat center center/cover scroll;"><span style="color: white; background:rgba(0,0,0,0.6); padding: 10px; border-radius: 10px;"><%= link_to '게시판 카테고리 설정', bulletins_path, class: "board_title" %></span></div>
<% end %>

<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<div class="container" style="margin-top:30px; margin-bottom: 100px;">
  <div class="row">
    <%= form_tag search_bulletins_path, method: 'get', class: "ml-auto align-self-center d-flex flex-row" do %>
      <%= text_field_tag :q, params[:q], class: "form-control col-md-7", data: {toggle: "tooltip", placement: "bottom"}, title: "제목+내용이 검색됩니다." %>
      <%= submit_tag :검색, class: "btn btn-outline-success" %> <%= link_to '전체 목록', bulletins_path, class: "btn btn-outline-info" if params[:q] %>
    <% end %>
  </div>
  
  <% if @bulletins.empty? %>
    <h2 class="text-center" style="margin-top: 30px;">카테고리가 없습니다..</h2>
  <% else %>
  <% @bulletins.each do |bulletin| %>
  <div class="bd-callout bd-callout-info">
    <h3><%= link_to bulletin.title, bulletin %></h1><br/>
    <div><%= link_to bulletin.content.html_safe, bulletin %></div>
    <hr/>
    - 게시판(카테고리) 번호 : <%= bulletin.id %><br/>
    - 제작 (및 관리) : <%= bulletin.user != nil ? bulletin.user.nickname : bulletin.user_name %><br/>
    - 게시판 주소 : <%= link_to "#{request.protocol}#{request.host}/bulletins/#{bulletin.id}/posts", "#{request.protocol}#{request.host}/bulletins/#{bulletin.id}/posts" %><br/>
    - <%= bulletin.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M:%S') %><br/>
    <i class="fa fa-eye" aria-hidden="true"></i> <%= bulletin.unique_impression_count %>
    
    <div align="right">
        <% if can? :update, bulletin %>
        <%= link_to '수정', edit_bulletin_path(bulletin), class: "btn btn-warning" %>
        <% end %>
        <% if can? :destroy, bulletin %>
        <%= link_to "삭제", bulletin, method: :delete, data: { confirm: '진짜로 지울건가요???' }, class: "btn btn-danger"%>
        <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
<div align="right"><%= link_to '카테고리 생성', new_bulletin_path, class: "btn btn-primary" %></div>
<div class="d-flex flex-column">
<%= paginate @bulletins %>
</div>
</div>