<% if mobile? %>
<div class="board_mobile" style="background: url('/img/title_img_5.jpg') no-repeat center center/cover scroll;"><span style="color: white; background:rgba(0,0,0,0.6); padding: 10px; border-radius: 10px;"><%= link_to '투표함', links_path, class: "board_title" %></span></div>
<% else %>
<div class="board" style="background: url('/img/title_img_5.jpg') no-repeat center center/cover scroll;"><span style="color: white; background:rgba(0,0,0,0.6); padding: 10px; border-radius: 10px;"><%= link_to '투표함', links_path, class: "board_title" %></span></div>
<% end %>

<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<div class="container" style="margin-top:30px; margin-bottom: 100px;">
  <h4><%= @link.title %></h4>
  <div class="row">
    <% # [그리드] PC, 모바일 공통에서 볼 경우 : 닉네임 %>
    <div class="col-4"><%= @link.user != nil ? @link.user.nickname : @link.user_name %></div>
    <% # [그리드] Only 모바일 에서 볼 경우 : 글 작성시간 %>
    <div class="col-8" align="right"><span><%= @link.created_at.strftime('%Y-%m-%d %H:%M') %></span>
    |<i class="fa fa-eye" aria-hidden="true" style="margin-left: 15px;"></i> <%= "#{@link.unique_impression_count}" %></div>
  </div>
  <hr/>
  <%= @link.url.html_safe %>
  <center>
    <div class="progress hidden-xs-down" style="width: 50%; margin-top: 30px;">
      <div class="progress-bar bg-info" role="progressbar" style="width: <%= @link.get_upvotes.size.to_f / @link.votes_for.size * 100 %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @link.get_downvotes.size.to_f / @link.votes_for.size * 100 %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <div class="progress hidden-sm-up" style="width: 80%; margin-top: 30px;">
      <div class="progress-bar bg-info" role="progressbar" style="width: <%= @link.get_upvotes.size.to_f / @link.votes_for.size * 100 %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @link.get_downvotes.size.to_f / @link.votes_for.size * 100 %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= link_to "찬성 #{@link.get_upvotes.size}", like_link_path(@link), method: :put, class: "btn btn-primary", style: "margin-top: 10px;" %>
    <%= link_to "반대 #{@link.get_downvotes.size}", dislike_link_path(@link), method: :put, class: "btn btn-danger", style: "margin-top: 10px;" %>
  </center>
  
  <br/><hr/>
  <div class= "row">
    <div class="col-7 col-md-6" align="left">
    	<%= link_to '목록', links_path, class: "btn btn-secondary btn-sm" %>
      <% if can? :update, @link %>
    		<%= link_to '수정', edit_link_path(@link), class: "btn btn-secondary btn-sm" %>
    	<% end %>
    	<% if can? :destroy, @link %>
    		<%= link_to '삭제', @link, method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }, class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>
    <div class="col-5 col-md-6" align="right">
      <%= link_to '안건 작성', new_link_path, class: "btn btn-secondary btn-sm", align: "right" %></span>
    </div>
  </div>
<%= render "vote_comments/vote_comments" %>
</div>